[submodule ".bash-git-prompt"]
	path = .bash-git-prompt
	url = https://github.com/magicmonty/bash-git-prompt
[submodule "fonts/.fonts/powerline-patched-fonts"]
	path = fonts/.fonts/powerline-patched-fonts
	url = https://github.com/powerline/fonts
