# readline init file
# http://www.gnu.org/software/bash/manual/html_node/Readline-Init-File.html

# http://www.gnu.org/software/bash/manual/html_node/Readline-Init-File-Syntax.html
# http://www.gnu.org/software/bash/manual/html_node/Conditional-Init-Constructs.html
# http://www.gnu.org/software/bash/manual/html_node/Sample-Init-File.html

$include /etc/inputrc

# Makes history much easier to use. Ex: ss<up> will show history items for ssh.
"\e[A": history-search-backward
"\e[B": history-search-forward
"\e[C": forward-char
"\e[D": backward-char

# Displays possible completions using different colors to indicate their file type
set colored-stats on

# A character denoting a file's type is appended to the filename when listing possible completions
set visible-stats on

# Auto-completion will be case insensitive
set completion-ignore-case on

set completion-prefix-display-length 2

# Cicle trough the available completions
Control-j: menu-complete
Control-k: menu-complete-backward

# Only need to press once on tab for autocompletion
set show-all-if-ambiguous on
set show-all-if-unmodified on

# Underscores and hyphens are threated equally
set completion-map-case on

# Disable terminal bell (no more beeps.)
set bell-style none

$if Bash
### expand aliases with a shortcut in Bash
# http://superuser.com/questions/247770/how-to-expand-aliases-inline-in-bash
# http://www.gnu.org/software/bash/manual/html_node/Miscellaneous-Commands.html
# use Control-Alt-e
#"\e\C-e": alias-expand-line
"\C-\M-e": alias-expand-line

### shortcut to reload .inputrc in the terminal
# Read in the contents of the inputrc file, and incorporate any bindings or
# variable assignments found there.
"\C-\M-r": re-read-init-file
$endif
